:root {
  --cprimary: rgba(63, 114, 175, 1);
  --cdark: rgba(17, 45, 78, 1);
  --csecondary: rgb(207, 220, 244);
  ;
  --clight: rgba(249, 247, 247, 1);
}





.Cbg-primary {
  background-color: var(--cprimary);
}

.Cbg-dark {
  background-color: var(--cdark);
}

.reservation-container {
  background-color: red;
  margin: 2em;
  background-color: var(--csecondary);
  color: var(--cdark);
}

.separator-line {
  background-color: var(--cdark);
  min-width: 100%;
  min-height: 2px;
}

.nav-item {
  border-radius: 2px;
  text-align: center;
  border: 2px solid var(--csecondary);
  background-color: var(--clight);
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--clight);
  color: var(--cprimary);
  border: 2px solid var(--clight);
}